.font
{
    font-family: monospace;
    color: white;
}

.size
{
    font-size: 32px;
    font-weight: bold;
}

.size2
{
    font-size: 20px;
    font-weight: bold;
}

.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered
{
    text-align: center;
    font-weight: 1000;
}

.fa-wechat:hover
{
    color: #19eb78;
}

.fa-instagram:hover
{
    color: #e34e85;
}

.fa-youtube:hover
{
    color: #ff0000;
}

a:link
{
    color: white;
    text-decoration: none;
}

a:visited
{
    color: white;
}

.padding1
{
    padding-right: 10px;
    padding-top: 30px;
}

.padding2
{
    padding-left: 10px;
    padding-top: 30px;
}

.padding3
{
    padding-left: 20px;
    padding-top: 30px;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }