.font
{
    font-family: monospace;
}

.centro
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.testocentrato
{
    text-align: center;
    font-weight: 1000;
}

.fa-wechat:hover
{
    color: #19eb78;
}

.fa-instagram:hover
{
    color: #e34e85;
}

a:link
{
    color: black;
    text-decoration: none;
}

a:visited
{
    color: black;
}

@media(min-width: 180px) and (max-width: 815px)
{
    h2
    {
        font-size: 46px;
    }
}