.font
{
    font-family: monospace;
    color: white;
}

.size
{
    font-size: 42px;
    font-weight: bold;
}

.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered
{
    text-align: center;
    font-weight: 1000;
}

.fa-wechat:hover
{
    color: #19eb78;
}

.fa-instagram:hover
{
    color: #e34e85;
}

.fa-youtube:hover
{
    color: #ff0000;
}

a:link
{
    color: white;
    text-decoration: none;
}

a:visited
{
    color: white;
}

.padding1
{
    padding-right: 10px;
    padding-top: 30px;
}

.padding2
{
    padding-left: 10px;
    padding-top: 30px;
}

.padding3
{
    padding-left: 20px;
    padding-top: 30px;
}

@media(min-width: 180px) and (max-width: 815px)
{
    h2
    {
        font-size: 46px;
    }
}